{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Comentar - Megáfono {% endblock %}


{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

          <div class="col-xs-12 col-sm-3 text-left">
            <img src="../{{modelo.avatar.url}}" class="img-circle img-responsive" alt="Imagen" width="180px" height="180px">
          </div>        
          <div class="col-xs-12 col-sm-9">
            <h2>{{modelo.pregunta}}</h2>
          </div>
        
        <div class="col-xs-12 col-sm-9 text-right">
            <h4>¿Qué te parece estos? <h4>
            <button class="btn btn-default"> Hola</button> <!-- Botones de la pregunta -->
            <button class="btn btn-default"> Hola</button>
            <button class="btn btn-default"> Hola</button>
            {% block boton %}{% endblock %}

        </div>

      </div>
    </div>
{% endblock %}


{% block container %} 
    
    <div id="mensajes"><div class="alert alert-success">Comentario ingresado con éxito</div></div>

    <!-- Informacion al respecto-->
    <div class="col-xs-12 col-sm-12">
      Más información al respecto:
      <h3>{{modelo.encabezado}}</h3>
      <hr/>
      <div class="col-xs-12 col-sm-9">
        {{modelo.cuerpo}}
      </div>
      <div class="col-xs-12 col-sm-3 text-right">
        <a href="{{modelo.url}}" class="btn btn-primary" 
          role="button">Ver nota completa &raquo;</a>
      </div>
    </div>
    <!-- Fin Informacion al respecto-->


{% block respuesta-comentario %}

{% endblock %}
  
{% endblock %}