{% extends "base.html" %}
{% block title %} Preguntas - Megáfono {% endblock %}

{% block container %} 

<div class="col-xs-12 col-sm-12 text-center">
  <h1 id="header"><i class="fa fa-bullhorn fa"></i> Megáfono Ciudadano</h1>
  <h3>Llegó el momento en que la ciudadanía pone los temas sobre la mesa</h3>
</div>
  

<div class="col-xs-12 col-sm-12 text-center">

  <div class="list-article">
    <hr/>    
  
    <!-- Botones-->
    <div class="btn-group pull-right" id="switch-view">
      <button class="btn btn-primary"> <i class="fa fa-th-large"></i></button>
      <button class="btn btn-primary active"><i class="fa fa-th-list"></i></button>
    </div>
    <!-- Fin Botones-->
    
    <div class="clearfix"></div>

    <div class="row">
      <!--- Lista de preguntas -->
      {% for pregunta in lista_preguntas%}
        <div class="col-xs-12 col-sm-12 article-wrapper">
          <a href="../comentario/{{pregunta.id}}">
          <article>
            <div class="img-wrapper">
                <img src="{{pregunta.imagen}}" class="img-responsive" alt="foto" />
            </div>
            <h1>{{pregunta.pregunta}}</h1>
          </article>
        </a>
        </div>
      {% endfor %}
      <!-- Fin Lista preguntas -->    
    </div>

  </div>

</div>

{% endblock %}
